.rodape
{
  margin: 0;
  box-sizing: border-box;
  background-color: #B7A598;
  height: 990px;
   

}

.esquerda2{
  
    

   width: 100px;
   height: 50px;
   text-align: center;

   .logo{
    max-width:200px;
    max-height:150px;
    display: block;
    margin: 25px;
    padding: 10px 10px 0 10px;
    right:76 70vh;
    position:absolute;
    color: black;
    
   }


}